@model Torchbearer.ViewModels.SkillsViewModel
@{
    ViewData["Title"] = "Skills";
}
<h2>Skills</h2>
<p>Page 136</p>
<div class="skill-content">
    <table class="table">
        @foreach (var skillViewModel in Model.Skills)
        {
            <tr class="skill-description">
                <th class="col-md-2">@skillViewModel.Skill.Name</th>
                <td class="col-md-8">
                    <p>@skillViewModel.Skill.QuickDescription</p>
                    <p class="skill-help" hidden><b>Suggested Help for @skillViewModel.Skill.Name:</b> @skillViewModel.SuggestedHelpSkills.FirstOrDefault()@foreach (var helpSkill in skillViewModel.SuggestedHelpSkills.Skip(1))
                    {@(", " + helpSkill)}</p>
                </td>
                @if (skillViewModel.Skill.BeginnersLuckHealth)
                {
                    <td class="col-md-1">(H)</td>
                }
                else
                {
                    <td class="col-md-1">(W)</td>
                }
            </tr>
        }
    </table>
</div>
<script language="javascript" type="text/javascript" src="lib/jquery/dist/jquery.js"></script>
<script language="javascript" type="text/javascript">
    $(".skill-description").not(".skill-help").click(function () {
        $(this).find(".skill-help").toggle();
    });
</script>
